<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Passengers</title>
</head>
<body>
<div>
    <div style="display: inline-block">
        <table border="1px black">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>passportCardNo</th>
            </tr>
            <tr th:each="passenger : ${passengers}">
                <td th:text="${passenger.id}"></td>
                <td th:text="${passenger.name}"></td>
                <td th:text="${passenger.surname}"></td>
                <td th:text="${passenger.patronymic}"></td>
                <td th:text="${passenger.passportCardNo}"></td>
            </tr>
        </table>
    </div>
    <div style="display: inline-block">
        <table>
            <tr>
                <th></th>
            </tr>
            <tr th:each="passenger : ${passengers}">
                <td>
                    <a th:href="@{'/passenger/update-passenger/' + ${passenger.id}}">Update</a>
                    <a th:href="@{'/passenger/delete-passenger/' + ${passenger.id}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<a href="/passenger/create-passenger">Add passenger</a>
</body>
</html>